
<div class="ui grid" id="campaignGrid">
  <div class="row">
    <div class="four wide column">
    </div>
    <div class="eight wide column">
      <div class="ui form segment" id="campaign">
        <div class="two fields">
          <div class="field">
            <h2 class="ui header" style="text-align: left">Campaign Title</h2>
          </div>
          <div class="field">
            <h3 style="text-align: right">end Date</h3>
          </div>
        </div>
        <div class="field">
          <p>Description</p>
        </div>
        <div class="field">
          <label style="text-align: right">current $ / goal $</label>
        </div>
      </div>
    </div>
  </div>
</div>
