<h1 class="ui dividing header">Your Contributions{{mainUser.id}}</h1>
<div class="ui stackable items">
  <div class="item" style="min-height: 10px" ng-repeat="camp in campaigns.contributed">
    <div class="content">
      <div class="meta">Ends {{camp.endDate}}</div>
      <div class="name">{{camp.title}}</div>
      <p class="description">{{camp.description}}
      </p>
    </div>
    <div class="extra">
      ${{camp.wallet}}/${{camp.goal}} gathered ({{calculatePercent(camp.wallet, camp.goal)}}%)
    </div>
  </div>
</div>

<h1 class="ui dividing header">Explore Campaigns</h1>
<div class="ui stackable items">
  <div class="item" style="min-height: 10px" ng-repeat="camp in campaigns.friends">
    <div class="content">
      <div class="meta">Ends {{camp.endDate}}</div>
      <div class="name">{{camp.title}}</div>
      <p class="description">{{camp.description}}
      </p>
    </div>
    <div class="extra">
      ${{camp.wallet}}/${{camp.goal}} gathered ({{calculatePercent(camp.wallet, camp.goal)}}%)
    </div>
  </div>
</div>
