<div class="ui form segment" style="margin-left: 40px; margin-right: 40px">
  <div class="ui error message">
    <div class="header">Action Forbidden</div>
    <p>You can only sign up for an account once with a given e-mail address.</p>
  </div>
  <div class="field">
    <label>Name</label>
    <input placeholder="First Last" type="text">
  </div>
  <div class="field">
    <label>Email</label>
    <input placeholder="joshua@paybook.com" type="text">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password">
  </div>
  <div class="ui blue submit button capital">Register</div>
</div>
