<!DOCTYPE html>
<html lang="en" ng-app="PayBookApp">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>PayBook</title>


    <!-- Styling & CSS -->
    <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/build/packaged/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">


    <!-- Scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic-ui/build/packaged/javascript/semantic.min.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="js/core.js"></script>


</head>
<body ng-controller="MainController">
<div>


    <div class="ui large inverted pointing menu" id="topbar">
        <a class="item">
            <i class="money icon"></i>
            PayBook
        </a>
        <a class="item">
            <i class="home icon"></i>
            Campaigns
        </a>

        <a class="item">
            About
        </a>

        <div class="right menu">
            <div class="ui dropdown item">
                <i class="user icon"></i>
                My Profile
                <i class="dropdown icon"></i>

                <div class="menu">
                    <a class="item">Account Info</a>
                    <a class="item">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="ui grid">

    </div>


</div>
</body>
</html>