<!DOCTYPE html>
<html lang="en" ng-app="PayBookApp">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>PayBook</title>


    <!-- Styling & CSS -->
    <link rel="stylesheet" type="text/css" href="bower_components/semantic-ui/build/packaged/css/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">


    <!-- Scripts -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/semantic-ui/build/packaged/javascript/semantic.min.js"></script>
    <script src="bower_components/angularjs/angular.js"></script>
    <script src="js/core.js"></script>


</head>
<body ng-controller="MainController">
<div>

<!-- Navbar -->
    <div class="ui large inverted pointing menu" id="topbar">
        <a class="item">
            <i class="money icon"></i>
            PayBook
        </a>
        <a class="item">
            <i class="home icon"></i>
            Campaigns
        </a>

        <a class="item">
            About
        </a>

        <div class="right menu">
            <a class="item" href="profile.html">
                <i class="user icon"></i>
                My Profile
            </a>

        </div>
    </div>
</div>

<!-- Main Content -->

<div class="ui grid" style="padding-left: 30px">
    <div class="row" style="text-align: left">
        <h1 class="ui header">My Profile</h1>
    </div>


    <div class="row">

        <div class="five wide column">
            <h1 class = "ui header">Edit Profile
            </h1>
            <div class="ui form segment">
                <div class="field">
                    <label>name </label>
                    <div class="ui left labeled icon input">
                        <input placeholder=&nbsp{{mainUser.name}} type="text">
                    </div>
                </div>
                <div class="right floated tiny green ui button">
                    <i class="checkmark icon"></i>Save Changes
                </div>
                <div class="field">
                    <label>e-mail </label>
                    <div class="ui left labeled icon input">
                        <input placeholder=&nbsp{{mainUser.email}} type="text">
                    </div>
                </div>
                <div class="right floated tiny green ui button">
                    <i class="checkmark icon"></i>Save Changes
                </div>
                <div class="field">
                    <label>current password </label>
                    <div class="ui left labeled icon input">
                        <input type="password">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>new password </label>
                        <div class="ui left labeled icon input">
                            <input type="password">
                        </div>
                    </div>
                    <div class="field">
                        <label>confirm new password </label>
                        <div class="ui left labeled icon input">
                            <input type="password">
                        </div>
                    </div>
                    <div class="right floated tiny green ui button">
                        <i class="checkmark icon"></i>Save Changes
                    </div>
                </div>
            </div>
        </div>

        <div class="five wide column">
            <h1 class="ui header">Add Credit Card
            </h1>
            <div class="ui form segment">
                <div class="field">
                    <label>Cardholder Name</label>
                    <input placeholder="Name" name="cardholderName" type="text">
                </div>
                <div class="two fields">
                    <div class="ten wide field">
                        <label>Card Number</label>
                        <input placeholder="Card Number" name="cardNumber" type="text"
                               maxlength="16" minlength="16" pattern="[0-9]{16}">
                    </div>


                    <div class="six wide field">
                        <label>CCV</label>
                        <input placeholder="CCV" name="ccv" type="password">

                    </div>

                </div>
                <div class="two fields">
                    <div class="field" style="padding-top: 20px">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="cardType">
                            <div class="default text">Card Type</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="item" data-value="1">Visa</div>
                                <div class="item" data-value="0">MasterCard</div>
                            </div>
                        </div>
                    </div>
                    <div class="date field">
                        <label>Expiration Date</label>
                        <input type="text" name="expDate" aria-required="true"
                               pattern="(0[1-9]|1[012])[/]((20)[0-9]{2}|[0-9]{2})"
                               placeholder="xx/xxxx">
                    </div>
                </div>
                <div class="right floated tiny green ui button">
                    <i class="checkmark icon"></i>Add Payment
                </div>

            </div>
        </div>

        <div class="five wide column">
            <h1 class="ui header">Add Bank Account
            </h1>

            <div class="ui form segment">
                <div class="field">
                    <label style="text-align: center">Account Type</label>

                    <div class="ui buttons" style="padding-left: 75px">
                        <div class="ui button" ng-class="{teal: accountType.type.checking}"
                             ng-click="accountType.type.checking = true;accountType.type.saving = false;">Checking
                        </div>
                        <div class="ui button" ng-class="{teal: accountType.type.saving}"
                             ng-click="accountType.type.checking = false;accountType.type.saving = true;">Savings
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label>Routing Number</label>
                    <input type="text" maxlength="9" minlength="9" name="routingNumber" placeholder="Routing Number">
                </div>
                <div class="field">
                    <label>Account Number</label>
                    <input type="text" maxlength="17" minlength="3" name="accountNumber" placeholder="Account Number">
                </div>
                <div class="right floated tiny green ui button">
                    <i class="checkmark icon"></i>Add Payment
                </div>
            </div>

        </div>

     </div>

</div>
</body>
</html>